canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    border: 2px solid #00000080;
    box-shadow: 2px 2px 20px black;

  }


