canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    border: 2px solid #00000080;
    box-shadow: 2px 2px 20px black;
  }

  #restart{
    position: absolute;
    bottom: 15px ;
    left:50%;
    right:50%;
  }

  #start{
    position: absolute;
    bottom: -100px ;
    left:50%;
    right:50%;

  } 
  
  #info{
    position: absolute;
    bottom: 15% ;
    right:15%;
    width: 64px;
    height: 66px;
  }
